<div class="header">
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">express4 Blog</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		

	      <ul class="nav navbar-nav navbar-right">

	      	<% if (session.signed) { %>
	      	<li>
		     	<span class="welcome">
			  		<span class="nickname">welcome! <%= session.user.nickname %></span> last logined time: <%= session.user.lastLoginTime %>
			 	</span>
	      	</li>
	      	 <% } %>
	        <li><a href="/about">about</a></li>
	        <li><a href="/blogs">all blogs</a></li>
			<% if (session.signed) { %>
				<li class="dropdown">
					<a href="#" id="my" class="dropdown-toggle" data-toggle="dropdown">my <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="myMenu">
			            <li><a href="#">manage my blogs</a></li>
			            <li><a href="/users/editme">edit profile</a></li>
	          		</ul>
	          		<li><a href="/users/signout">signout</a></li>
				</li>
	        <% } else { %>
				<li><a href="/users/register">register</a></li>
	        	<li><a href="/users/signin">signin</a></li>
	        <% } %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div>