
	<% layout('./template/default') -%>

	<div class="container">
		<div class="jumbotron">
	        <h1>express4 blog 範例</h1>
	        <br>
	        <p class="lead">在這網站可學到：</p>
	        <div class="lead-content">
		        <p>・基本nodejs操作</p>
		        <p>・express4用法</p>
		        <p>・MVC觀念</p>
		        <p>・RESTful觀念</p>
		        <p>・傳統與ajax方式傳送與取得資料</p>
		        <p>・mongodb基本操作(使用moogoose)</p>
		        <p>・session, cookie操作(登入, 登出, 設定cookie時間)</p>
		        <p>・多層非同步工作流控制(使用async.js)</p>
	        </div>

	    </div>
	</div>
